.weatherapp{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(159, 49, 223);
    border-radius: 40px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(170, 107, 230);
    border-radius: 20px;
}
.header img{
    height: 40px;
    width: 60px;
    left: 10px;
    top: 20px;
    border-radius: 0px;
    margin-left:20px;
    
}
.headicon{
    display: flex;
}
.headicon p{
    padding-left: 60px;
    font-size: 20px;
    color: aliceblue;
}
.navigation{
    display: flex;
  
}
ul{
    display: flex;
    margin-right: 30px;
    list-style: none;
    font-size: 20px;
    color: aliceblue;
}
li{
    padding-right: 40px;
}
